
/* ----------------------------------------------------------------------------------- */
/* --------------- CSS Settings and properties to be used on all pages --------------- */
/* ----------------------------------------------------------------------------------- */

/* Font is linked in as a Google Font */
body {
    font-family: "Poppins";
    margin: 0%;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
    margin: 0% 0% 5% 0%;
}

h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Custom Bold States */
.bold {
    font-weight: 600;
}

.bold2 {
    color: black;
    font-weight: 600;
}

/* To make space at the bottom of each page for the "app-nav", if its desired to have the "app-nav" on each page*/
main {
    margin-bottom: 100px;
}

/* Container used for all pages to create space on sides and prevent overflow */
.container {
    width: auto;
    margin: 0% 5%;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------- Index/Home Page CSS ------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Header section of Home page ------------------------------------------------------- */
header {
    display: flex;
    flex-direction: row;
}

header div {
    padding: 10px;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger-menu {
    justify-content: start;
}

.location {
    justify-content: center;
}

/* The Icon for the location is given an animation of a slow infinit bounce */
@keyframes move {
	0% {transform: translateY(0);}
	100% {transform: translateY(-10px);}
}

.location span {
	animation-name: move;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    color: #C8161D;
}

.profile-icon {
    justify-content: end;
}

/* App Navigation menu fxed at bottom of screen ------------------------------------------------------- */

.app-nav {
    display: flex;
    flex-direction: row;

    position: fixed;
    overflow: hidden;
    bottom: 0;
   
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: auto;
}

.app-nav a {
    color: gray;
}
    
/* Home Page Navigation / Heading, Directly under the Header ------------------------------------------------------- */

.page-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-nav div {
    display: flex;
    flex-direction: row;
    justify-items: center;

    width: 100%;
    margin-bottom: 25px;
    padding: 10px 0px;
    color: lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-nav input {
    width: 100%;
    border: none;
}

/* Food Option Cards Section ------------------------------------------------------- */

.cards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
    height: 176px;
    width: 90px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1 span {
    background-color: black;
    border-radius: 50%;
    color: white;
}

/* Hover state changes of the Card */
.card1:hover {
    background-color: #C8161D;
    color: white;
}

.card1:hover span {
    background-color: white;
    border-radius: 50%;
    color: #C8161D;
}

/* .card1:nth-child(1) {
    background-color: #C8161D;
    color: white;

}.card1:nth-child(1) span {
    background-color: white;
    color: #C8161D;
} */

/* The Popular Heading Section of the Page ------------------------------------------------------- */

.popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 5% 0%;
}

.viewall {
    color: #C8161D;
    display: flex;
    align-items: center;

    font-weight: 600;
}

/* The Card of the Popular Section ------------------------------------------------------- */

.card2 {
    display: flex;
    flex-direction: column;

    padding: 15px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.redbox {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C8161D;
    width: 100%;
    height: 160px;
    border-radius: 20px;
}

.card2-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: grey;
    font-weight: 500;
}

.card2-icon {
    margin-bottom: 80px;
}

/* ----------------------------------------------------------------------------------- */
/* ---------------------------------- Cart Page CSS ---------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Header of the Cart Page ------------------------------------------------------- */
.back-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-button a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0%;
}

/* Item Cards of Cart Page ------------------------------------------------------- */

.cart-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;
    height: 120px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

/* Cart-side is the class for the items next to the Img, used for seperation for flex properties */
.cart-side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.cart-side:last-child {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
}

.cart-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: solid lightgray 1px;
    width: 100px;
}

.cart-amount p {
    margin: 0%;
}

.cart-amount span {
    padding: 5px 10px;
}

.cart-card span {
    color: #C8161D;
    padding-top: 10px;
}

/* Coupon Button ------------------------------------------------------- */

.coupon-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.1rem;
}

/* Cart Total Section ------------------------------------------------------- */

.cart-total {
    display: flex;
    justify-content: space-between;
}

/* Procced Button ------------------------------------------------------- */

.procced-button {
    animation: bounce 2s ease infinite;

    background-color: #C8161D;
    color: white;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
  }

  @keyframes bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-15%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      97% { transform:translateY(0%); }
      99% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }

.procced-button a {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
}

/* ----------------------------------------------------------------------------------- */
/* ---------------------------------- Rate Page CSS ---------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Class given to make page backgrounf red  */
.redbackground {
    background-color: #C8161D;
}

/* Rate page Header, shares the same buttons as Cart page------------------------------------------------------- */
.rate-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate-header div {
    background-color: white;
}

/* Cards on Rate page ------------------------------------------------------- */

.card3-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card3 {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 40px;
}

/* Animation given to the thumbs up and down icons */
@keyframes thumb {
	0% {transform: translateY(-10px);}
	100% {transform: translateY(10px);}
}

.card3 span {
	animation-name: thumb;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

/* Card is broken into 2 parts, Top and Bottom */
/* Top of Card */
.card3-top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 1.5rem;
    color: white;
    opacity: 75%;
}

/* Bottom of Card */
.card3-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.card3-bottom p {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0px 15px;
}

/* ----------------------------------------------------------------------------------- */
/* ---------------------------------- Media Queries ---------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Changes when width over 500px */
@media (min-width: 500px) {
    p {
        font-size: 20px;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2rem;
        margin-bottom: 3%;
    }
    
    h4 {
        font-size: 2.5rem;
    }

    .page-nav {
        margin-bottom: 3%;
    }

    .cards1 {
        justify-content: space-evenly;
    }

    .card1 {
        width: 200px;
        height: auto;
    }

    .popular {
        margin: 2% 0%;
    }

}

/* Changes when width over 831px */
@media (min-width:831px) {
    .cart-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card3-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .card3-bottom {
        justify-content: center;
    }

    .card3-bottom img {
        padding: 0px 45px;
    }
}