body {
    font-family: "Poppins";
    margin: 0%;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    color: grey;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0% 0% 5% 0%;
}

h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

main {
    margin-bottom: 80px;
}

.container {
    width: auto;
    margin: 0% 5%;
}
/* ------------------------------------------------------- */

header {
    display: flex;
    flex-direction: row;
}

header div {
    padding: 10px;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger-menu {
    justify-content: start;
}

.location {
    justify-content: center;
}

.location span {
    color: #C8161D;
}

.profile-icon {
    justify-content: end;
}

/* ------------------------------------------------------- */

.app-nav {
    display: flex;
    flex-direction: row;

    position: fixed;
    overflow: hidden;
    bottom: 0;
   
    color: gray;
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 10px;
    width: 100%;
}

.app-nav div:nth-child(1) {
    color: #C8161D;
}

.app-nav a {
    color: gray;
    padding: 16px;
}
    
/* ------------------------------------------------------- */

.page-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-nav div {
    display: flex;
    flex-direction: row;
    justify-items: center;

    width: 100%;
    margin-bottom: 25px;
    padding: 10px 0px;
    color: lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-nav input {
    width: 100%;
    border: none;
}

/* ------------------------------------------------------- */

.cards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
    height: 176px;
    width: 90px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1:hover {
    background-color: #C8161D;
    color: white;
}

/* .card1:nth-child(1) {
    background-color: #C8161D;
    color: white;

}.card1:nth-child(1) span {
    background-color: white;
    color: #C8161D;
} */

.card1 span {
    background-color: black;
    border-radius: 50%;
    color: white;
}

.card1:hover span {
    background-color: white;
    border-radius: 50%;
    color: #C8161D;
}
/* ------------------------------------------------------- */

.popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.viewall {
    color: #C8161D;
    display: flex;
    align-items: center;

    font-weight: 600;
}

/* ------------------------------------------------------- */

.card2 {
    display: flex;
    flex-direction: column;

    padding: 15px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.redbox {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C8161D;
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.card2-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: grey;
    font-weight: 500;
}

.bold {
    font-weight: 600;
    color: black;
}

/* CART------------------------------------------------------- */

.back-button {
    display: flex;
    justify-content: center;

    width: 25px;
    height: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-button {
    display: flex;
    justify-content: center;

    width: 25px;
    height: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------- */

.cart-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 10px;
    height: 200px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.cart-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid lightgray 1px;
    width: 100px;
}

.cart-amount span {
    color: #C8161D;
    padding: 5px 10px;
}

/* ------------------------------------------------------- */

.coupon-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
}

/* ------------------------------------------------------- */

.cart-total {
    display: flex;
    justify-content: space-between;
}

/* ------------------------------------------------------- */

.procced-button {
    background-color: #C8161D;
    color: white;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

/* RATE------------------------------------------------------- */

.redbackground {
    background-color: #C8161D;
}

.rate-page {
    text-decoration-color: white;
}

.rate-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate-header div {
background-color: white;
}

/* ------------------------------------------------------- */

.card3-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card3 {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 50px;
}

.card3 span{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

/* ------------------------------------------------------- */

.card3-top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 1.5rem;
    color: white;
    opacity: 75%;
}

.card3-top-last {
    color: white;
}

/* ------------------------------------------------------- */

.card3-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.card3-bottom p {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0px 15px;
}